/* i used css variables here , really cool watch traversey media's video if you forget about them  */

/* button {
  width: fit-content;
  height: fit-content;
  display: block;
}
form {
  position: absolute;
  top: 50%;
  right: 50%;
  --opacity: 0;
  opacity: var(--opacity);
  pointer-events: none;
  width: fit-content;
  height: fit-content;
}

form.open {
  --opacity: 1;
  pointer-events: all;
} */

form {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  right: 25%;
  --opacity: 0;
  opacity: var(--opacity);
  pointer-events: none;
}

form.visibleNow {
  pointer-events: all;
  --opacity: 1;
}
