* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: no-repeat
    url(https://images.pexels.com/photos/89625/pexels-photo-89625.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-size: cover;
  align-items: center;
  max-height: 100vh;
}
.etch-a-sketch {
  background-color: white;
  border: 1rem solid red;
  margin: auto;
  margin-top: 4rem;
  width: 700px;
  height: 400px;
  display: block;
}
.btn {
  color: white;
  background-color: crimson;
  border: none;
  margin: 2rem auto;

  font-size: 1.4rem;
  padding: 0.7rem 1rem;
  display: block;
}
