body {
  background-color: purple;
  min-height: 100vh;
  display: grid;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  grid-template-columns: 30rem;
}

.typer {
  display: grid;
  justify-content: center;
  background: white;
  padding: 2rem;
  border-radius: 3px;
}
.container > * {
  margin-bottom: 0.4rem;
}
